.note-view {
    background: #f8f8f8;
    border: 1px solid #cacaca;
    display: inline-block;
    margin: 8px;
    width: 200px;
    height: 110px;
    text-align: initial;
}
.note-delete-button{
    position: relative;
    float: right;
    cursor: pointer;
    outline: none;
    appearance: none;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
.note-delete-button-icon {
    fill: #777777;
    margin: 2px;
    height: 25px;
    width: 25px;
}
.note-delete-button-icon:hover {
    fill: black;
}
.note-delete-button-icon:active {
    fill: black;
}
.note-header {
    font-size: 1.4rem;
    text-decoration: underline;
    margin: 4px;
    height: 28px;
    overflow: auto;
}
.note-body {
    margin: 4px;
    height: 70px;
    overflow: auto;
}