.notes-container {
  text-align: center;
  margin: 5px;
  /* display: flexbox;
  flex: row wrap; */
}
.heading {
  text-align: center;
}
.source-code {
  background: #f8f8f8;
  appearance: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 0;
}
.source-code:hover {
  background: #cacaca;
}
.source-code:active {
  background: #cacaca;
}